:root {
    /*breakpoints*/

    --breakpoint-xs: 320px;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;

    /*colors*/

    --color-blue: #234feb;
    --color-blue-primary: #3256e3;
    --color-blue-hover: #0a39dc;
    --color-border: #e6eaf5;
    --color-disabled-text: #929bbc;
}
